// Colors
$purple-light: #2c293d;
$purple-dark: #282639;
$green-neon: #85d62c;

$main-purple: #5e4bb1;
$main-indigo-bright: #627fff;
$main-blue-light: #4a90e2;
$main-red: #d00720;
$main-orange: #f58f24;

$grey-light-1: #f4f6f9;
$grey-light-2: #eaedf3;
$grey-dark-1: #c9ced2;
$grey-dark-2: #929ba3;
$grey-dark-3: #707b86;

// Grid
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 2rem;
